/* FONTS IMPROT */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Poppins:wght@300&display=swap");

/* RESET CSS */
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

/* WINDOW MODIFIED */
::selection {
  background-color: var(--primary-color);
  color: var(--bg-color);
}

::-webkit-scrollbar {
  background-color: var(--bg-color);
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
}

/* PRIMARY TEXT */
.primary_text {
  color: var(--primary-color);
  font-family: "Lato", sans-serif;
}

/* SMOOTH SCROLL */
html {
  scroll-behavior: smooth;
}

/* CSS VARIABLES */
:root {
  --bg-color: #141222;
  --primary-color: #4df8cf;
  --text-color: #fff;
  --logos-color: #35343c;
}

body {
  background-color: var(--bg-color);
}

/* LOADING SCREEN  */
.loading_screen {
  width: 100%;
  height: 100vh;
  background-color: #4df8d066;
  display: flex;
  backdrop-filter: blur(5px);
  justify-content: center;
  position: fixed;
  z-index: 7;
  top: 0%;
  align-items: center;
}

.loading_screen_logo {
  width: 100px;
  height: 100px;
}

.logo_bg {
  background-image: linear-gradient(
    45deg,
    #141222,
    #141222,
    #141222,
    #141222,
    #4df8cf,
    #4df8cf,
    #4df8cf,
    #4df8cf
  );
  width: 120px;
  height: 120px;
  z-index: -1;
  background-size: 400%;
  background-position: left;
  position: absolute;
  animation-name: moving;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}

@keyframes moving {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

/* MESH GRADIENT BG*/
.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  z-index: -1;
  position: fixed;
}

.mesh {
  filter: blur(300px);
  width: 250px;
  height: 250px;
  background-color: #4df8cf;
  border-radius: 200px;
}

/* BUTTONS */
.primary_btn {
  padding: 10px 30px;
  background-color: transparent;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  border-radius: 5px;
  transition: 0.3s;
  cursor: pointer;
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
}

.primary_btn:hover {
  color: var(--bg-color);
  background-color: var(--primary-color);
}

.primary_btn:active {
  transform: scale(0.9);
}

/* NAVIGATION */
.navbar {
  height: 100px;
  width: 100%;
  position: fixed;
  z-index: 6;
  transition: 0.3s;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.sticky {
  background: rgba(0, 63, 60, 0.24);
  backdrop-filter: blur(20px);
  height: 80px;
  -webkit-backdrop-filter: blur(20px);
  border: 1px solid rgba(0, 119, 113, 0.24);
}

.logo {
  color: var(--primary-color);
  font-family: "Lato", sans-serif;
  font-size: 40px;
  text-decoration: none;
}

.navbar ul {
  display: flex;
}

.navbar li {
  list-style: none;
}

.navbar ul li a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 25px;
  position: relative;
  transition: 0.3s;
  margin: 30px;
}

.navbar ul li a::after {
  content: "";
  display: block;
  position: absolute;
  background-color: var(--primary-color);
  width: 100%;
  height: 2px;
  left: 0%;
  transition: transform 0.3s;
  transform: scaleX(0);
}

.navbar ul li a:hover::after {
  transform: scaleX(1);
}

.navbar ul li a:active::after {
  transform: scaleX(0.5);
}

.navbar ul li a:active {
  color: var(--primary-color);
}

/* HAMBURGER */
.hamburger {
  display: none;
}

.m_nav {
  display: none;
}

/* SECTIONS */

.hero_section {
  overflow: hidden;
}

.about_section {
  overflow: hidden;
}

.contact_page {
  overflow: hidden;
}

.hero_area {
  width: 100%;
  display: flex;
  justify-content: center;
}

.hero_elem {
  display: flex;
  width: 1500px;
  align-items: center;
  justify-content: space-between;
  margin-top: 150px;
}

.vector1 {
  width: 600px;
}

.hero_head_title {
  color: white;
  font-size: 80px;
  width: 750px;
  font-family: "Lato", sans-serif;
}

.hero_head_desc {
  color: white;
  margin-top: 20px;
  width: 600px;
  font-size: 17px;
}

.btn_area1 {
  width: 0%;
}

.hero_btn {
  margin-top: 30px;
}

.about_area {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about_title {
  color: var(--text-color);
  font-family: "Lato", sans-serif;
  margin-top: 130px;
  font-size: 60px;
  text-align: center;
}

.about_elem {
  margin-top: 40px;
  display: flex;
  width: 1300px;
  justify-content: space-between;
}

.about_desc {
  color: var(--text-color);
  width: 600px;
  text-align: justify;
}

.text_container2 {
  display: flex;
  align-items: center;
}

.vector2 {
  width: 650px;
}

.services_area {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.services_title {
  margin-top: 130px;
  color: var(--text-color);
  font-family: "Lato", sans-serif;
  font-size: 60px;
  text-align: center;
}

.services_elem {
  display: flex;
  margin-top: 40px;
  flex-wrap: wrap;
  width: 1000px;
  justify-content: space-evenly;
}

.service_card {
  background-color: var(--bg-color);
  width: 300px;
  height: 300px;
  cursor: pointer;
  border-radius: 5px;
  margin: 10px;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.service_card::after {
  content: "";
  display: block;
  position: absolute;
  background-image: linear-gradient(45deg, #141222, #141222, #141222, #4df8cf);
  width: 100%;
  height: 100%;
  background-size: 200%;
  transition: 0.3s;
  background-position: left;
}

.service_card:hover::after {
  background-position: right;
}

.service_cards_elems {
  z-index: 1;
  width: 200px;
  height: 200px;
}

.services_texts {
  font-family: "Lato", sans-serif;
  color: var(--text-color);
  font-size: 25px;
  z-index: 1;
}

.service_details {
  position: absolute;
  width: 100%;
  border-radius: 5px;
  top: 100%;
  z-index: 3;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  background-color: var(--primary-color);
  height: 100%;
  color: var(--bg-color);
}

.service_card:hover .service_details {
  top: 50%;
}

.service_details_title {
  text-align: center;
  color: var(--bg-color);
  font-family: "Lato", sans-serif;
  font-size: 25px;
  margin-top: 20px;
}

.service_details_desc {
  text-align: var(--text-color);
  margin: 50px;
  text-align: center;
  color: var(--bg-color);
  font-size: 15px;
  margin-top: 10px;
}

.testimonials_area {
  margin-top: 40px;
}

.mySwiper {
  max-width: 900px;
  width: 100%;
}

.testimonials_title {
  color: var(--text-color);
  text-align: center;
  font-family: "Lato", sans-serif;
  margin-top: 130px;
  font-size: 60px;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonials_cards {
  border: 5px solid var(--primary-color);
  padding: 10px;
  display: flex;
  max-width: 700px;
  cursor: grab;
  width: 100%;
  margin: 10px;
  justify-content: center;
  border-radius: 30px;
  align-items: center;
  flex-direction: column;
}

.client_profile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
}

.testimonials_cards_img {
  width: 120px;
  height: 120px;
  border: 5px solid var(--primary-color);
  border-radius: 100px;
}

.client_name {
  font-family: "Lato", sans-serif;
  color: var(--text-color);
  font-size: 20px;
  margin-top: 15px;
}

.testimonials_cards_desc {
  color: white;
  font-size: 15px;
  margin: 20px;
  text-align: justify;
}

.swiper-button-next::after {
  color: var(--primary-color);
}

.swiper-button-prev::after {
  color: var(--primary-color);
}

.contact_page_title {
  margin-top: 130px;
  font-size: 60px;
  text-align: center;
  font-family: "Lato", sans-serif;
  color: var(--text-color);
}

.contact_page_elem {
  margin-top: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.vector3 {
  width: 700px;
}

.contact_card {
  overflow: hidden;
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: 2px solid var(--primary-color);
  border-radius: 10px;
}

.contact_card_text {
  color: var(--text-color);
  font-size: 20px;
  margin: 5px;
}

.inputs {
  background: rgba(10, 175, 166, 0.24);
  border: 1px solid rgba(10, 175, 166, 0.24);
  outline: none;
  color: var(--primary-color);
  padding: 10px;
  font-size: 20px;
  width: 450px;
}

.btn-area2 {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
}

.show_message_text {
  color: var(--primary-color);
  margin-top: 20px;
  display: none;
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  font-weight: bold;
}

/* FOOTER */
.footer {
  background-color: var(--primary-color);
  margin-top: 130px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.footer-logo {
  width: 100px;
  margin-top: 30px;
}

.footer-logo-area {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.social-medias {
  margin-top: 10px;
}

.f_icons {
  color: var(--bg-color);
  margin: 10px;
  font-size: 25px;
  cursor: pointer;
  transition: 0.3s;
}

.footer_links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
  align-items: center;
}

.footer_links li {
  list-style: none;
}

.footer_links li a {
  font-family: "Lato", sans-serif;
  text-decoration: none;
  color: var(--bg-color);
  font-size: 20px;
  margin: 10px;
}

.footer_text {
  color: var(--bg-color);
  text-align: center;
  font-family: "Lato", sans-serif;
  margin: 20px 0px 10px 0px;
  font-size: 20px;
}

/* RESPONSIVE */

@media only screen and (max-width: 1400px) {
  .about_elem {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .about_desc {
    width: 100%;
    margin: 10px;
  }

  .hero_head_title {
    width: 100%;
  }
}

@media only screen and (max-width: 1240px) {
  .hero_elem {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    align-items: center;
  }

  .text_container1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .hero_head_title {
    color: white;
    font-size: 80px;
    text-align: center;
    width: 100%;
  }

  .hero_head_desc {
    color: white;
    text-align: center;
    margin-top: 5px;
    width: 100%;
    font-size: 17px;
  }

  .btn_area1 {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .hero_btn {
    margin-top: 15px;
  }

  .services_elem {
    width: 100%;
  }

  .contact_card {
    margin: 10px;
  }

  .vector3 {
    display: none;
  }

  .btn-area2 {
    justify-content: center;
  }

  .show_message_text {
    margin-top: 10px;
    text-align: center;
  }
}

@media only screen and (max-width: 1000px) {
  .navbar {
    z-index: 6;
    justify-content: space-around;
  }

  .logo {
    font-size: 30px;
  }

  .navbar ul li a {
    display: none;
  }

  .nav_btn {
    display: none;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .line1,
  .line2 {
    background-color: var(--primary-color);
    width: 30px;
    margin: 5px;
    transition: 0.3s;
    height: 2px;
  }

  .menu_merge1 {
    margin: 0px;
    transform: rotate(45deg);
  }

  .menu_merge2 {
    margin: 0px;
    transform: rotate(-45deg);
  }

  .m_nav {
    display: flex;
    background-color: rgba(0, 99, 81, 0.388);
    z-index: 5;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: -100%;
    transition: 0.8s ease-in-out;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 300px;
    border-bottom-right-radius: 300px;
  }

  .m_nav_open_close {
    top: 0%;
    border-radius: 0px;
  }

  .m_nav li {
    list-style: none;
  }

  .m_nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .m_nav ul li a {
    text-decoration: none;
    font-family: "Lato", sans-serif;
    line-height: 50px;
    font-size: 30px;
    transition: 0.3s;
    color: white;
  }

  .m_nav ul li a:hover {
    color: var(--primary-color);
  }
}

@media only screen and (max-width: 670px) {
  .vector1 {
    max-width: 400px;
    width: 100%;
  }
  .hero_head_title {
    font-size: 50px;
  }
  .hero_head_desc {
    font-size: 20px;
  }
  .about_title {
    font-size: 40px;
  }
  .services_title {
    font-size: 40px;
  }
  .testimonials_title {
    font-size: 40px;
  }
  .contact_page_title {
    font-size: 40px;
  }
}

@media only screen and (max-width: 660px) {
  .vector2 {
    width: 450px;
  }
}

@media only screen and (max-width: 520px) {
  .contact_card {
    width: 400px;
  }

  .inputs {
    width: 350px;
  }
}

@media only screen and (max-width: 460px) {
  .vector2 {
    width: 350px;
  }
}

@media only screen and (max-width: 460px) {
  .inputs {
    width: 300px;
  }
}

@media only screen and (max-width: 360px) {
  .contact_card {
    width: 100%;
  }

  .inputs {
    width: 250px;
  }
}

@media only screen and (max-width: 320px) {
  .vector2 {
    width: 200px;
  }
}

@media only screen and (max-width: 305px) {
  .contact_card {
    width: 100%;
  }

  .inputs {
    width: 100%;
  }
}
